@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  --blue: #0700ff;
  --blueHover: #2119fd;
  --contentColor: #000000;
  --textBorderBlack: #000000;
  --background: #ffffff;
  --labelScale: grayscale(1);
  --konami: #0700ff;
}

html[data-theme='dark'] {
  --blue: #6957e2;
  --blueHover: #7968e9;
  --contentColor: #ffffff;
  --textBorderBlack: #ffffff;
  --background: #2f3439;
  --labelScale: grayscale(0);
  --konami: #9c91e2;
}

@font-face {
  font-family: Moderat-Regular;
  src: url(./fonts/Moderat-Regular.ttf);
}

@font-face {
  font-family: IntegralCF-Regular;
  src: url(./fonts/IntegralCF-Regular.otf);
}

@font-face {
  font-family: IntegralCF-DemiBold;
  src: url(./fonts/IntegralCF-DemiBold.otf);
}

@font-face {
  font-family: IntegralCF-ExtraBold;
  src: url(./fonts/IntegralCF-ExtraBold.otf);
}

@font-face {
  font-family: IntegralCF-HeavyOblique;
  src: url(./fonts/IntegralCF-HeavyOblique.otf);
}

* {
  font-family: 'Moderat-Regular', sans-serif;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background);
}

p,
span,
h2,
h3,
a,
i {
  color: var(--contentColor);
}

.blackText__border {
  text-shadow: 1px 1px 0 var(--textBorderBlack), -1px 1px 0 var(--textBorderBlack), 1px -1px 0 var(--textBorderBlack), -1px -1px 0 var(--textBorderBlack), 0px 1px 0 var(--textBorderBlack), 0px -1px 0 var(--textBorderBlack), -1px 0px 0 var(--textBorderBlack), 1px 0px 0 var(--textBorderBlack), 1px 1px 0 var(--textBorderBlack), -1px 1px 0 var(--textBorderBlack), 1px -1px 0 var(--textBorderBlack), -1px -1px 0 var(--textBorderBlack), 0px 1px 0 var(--textBorderBlack), 0px -1px 0 var(--textBorderBlack), -1px 0px 0 var(--textBorderBlack), 1px 0px 0 var(--textBorderBlack), 1px 1px 0 var(--textBorderBlack), -1px 1px 0 var(--textBorderBlack), 1px -1px 0 var(--textBorderBlack), -1px -1px 0 var(--textBorderBlack), 1px 1px 0 var(--textBorderBlack), -1px 1px 0 var(--textBorderBlack), 1px -1px 0 var(--textBorderBlack), -1px -1px 0 var(--textBorderBlack);
  color: var(--background);
}

.blueText__border {
  text-shadow: 1px 1px 0 var(--blue), -1px 1px 0 var(--blue), 1px -1px 0 var(--blue), -1px -1px 0 var(--blue), 0px 1px 0 var(--blue), 0px -1px 0 var(--blue), -1px 0px 0 var(--blue), 1px 0px 0 var(--blue), 1px 1px 0 var(--blue), -1px 1px 0 var(--blue), 1px -1px 0 var(--blue), -1px -1px 0 var(--blue), 0px 1px 0 var(--blue), 0px -1px 0 var(--blue), -1px 0px 0 var(--blue), 1px 0px 0 var(--blue), 1px 1px 0 var(--blue), -1px 1px 0 var(--blue), 1px -1px 0 var(--blue), -1px -1px 0 var(--blue), 1px 1px 0 var(--blue), -1px 1px 0 var(--blue), 1px -1px 0 var(--blue), -1px -1px 0 var(--blue);
  color: var(--background);
}

.link__button {
  min-width: 100px;
  display: inline-block;
  background-color: var(--blue);
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  text-align: center;
  padding: 1px 6px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 15px;
}

.link__button:hover {
  background-color: var(--blueHover);
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12), 0 2px 6px 0 rgba(0, 0, 0, 0.24);
}

.hover__image {
  position: absolute;
  display: none;
  z-index: 0;
  max-width: 200px;
  max-height: 400px;
}

.hover__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-filter: brightness(125%);
  filter: brightness(125%);
}

.home {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.home__content {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.home__content h1 {
  font-family: IntegralCF-HeavyOblique, sans-serif;
  position: relative;
  font-weight: 800;
  font-size: 8em;
  line-height: 1;
  color: var(--blue);
}

.home__content h2 {
  font-weight: 500;
}

.home nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px 0 20px;
}

.home nav span {
  font-family: IntegralCF-HeavyOblique;
  font-weight: 700;
  font-size: 3rem;
}

.home nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.home nav li {
  float: left;
  padding-left: 20px;
}

.home nav li label img {
  height: 30px;
  -webkit-filter: var(--labelScale);
          filter: var(--labelScale);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.home nav li input {
  display: none;
}

.home nav li a {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.home nav li a:hover {
  color: var(--blue);
}

.home .socials {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

.home .socials ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.home .socials li {
  padding-top: 5px;
}

.home .socials li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.home .socials li a:hover {
  color: var(--blue);
}

.home .scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.home .scroll img {
  display: block;
  height: 40px;
  margin: 0 0 15px 0;
  -webkit-animation-name: Bopping;
          animation-name: Bopping;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.home .scroll span {
  display: block;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: -15px;
}

@-webkit-keyframes Bopping {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 10px);
    transform: translate(0px, 10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.about p {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 2;
}

.about img {
  height: 2.2rem;
}

.about a {
  color: var(--blue);
}

.about .marquee {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.about .marqueeContent {
  display: inline-block;
  -webkit-animation: Scroll 50s forwards linear infinite;
          animation: Scroll 50s forwards linear infinite;
}

.about .marqueeContent h1 {
  font-family: IntegralCF-HeavyOblique;
  font-weight: 600;
  font-size: 4em;
  color: var(--background);
}

@-webkit-keyframes Scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes Scroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

.resume .emojiHammer {
  -webkit-animation-name: HammerEmoji;
          animation-name: HammerEmoji;
}

.resume .emojiHat {
  -webkit-animation-name: HatEmoji;
          animation-name: HatEmoji;
}

.resume .emojiHat,
.resume .emojiHammer {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.resume h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin-bottom: 2rem;
  letter-spacing: 2.5;
}

.resume h1.resume__name {
  display: block;
  font-family: 'Montserrat', sans-serif;
  color: var(--contentColor);
  font-weight: 500;
}

.resume span.resume__nameBlue {
  font-size: .6em;
  color: var(--blue);
}

.resume span.resume__line {
  display: inline-block;
  width: 30px;
  height: 1.5px;
  margin: 2px 10px 0 10px;
  background: var(--blue);
}

@-webkit-keyframes HammerEmoji {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  77.5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  85% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  92.5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@-webkit-keyframes HatEmoji {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.projects .emojiProgrammer {
  -webkit-animation-name: ProgrammerEmoji;
          animation-name: ProgrammerEmoji;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.projects__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.projects__grid div {
  padding: 10px;
}

.projects__grid div img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.projects__grid div h3 {
  font-weight: 600;
  font-size: 1.5em;
}

.projects__grid div p {
  font-size: 1.5em;
}

.projects__grid div p i {
  font-size: 20px;
}

@-webkit-keyframes ProgrammerEmoji {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  90% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

footer {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--blue);
  margin-top: 3em;
  padding: 7em 2em 5em 2em;
}

footer .footerContainer {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerContainer div {
  padding-bottom: 2em;
}

footer .footerContainer h1 {
  font-family: IntegralCF-DemiBold;
  color: #ffffff;
  font-weight: 500;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

footer li {
  padding-top: 5px;
}

footer li p {
  color: #ffffff;
  line-height: 2;
  font-weight: 600;
}

footer li a,
footer li span {
  font-size: 1rem;
  text-decoration: none;
  color: #ffffff;
  opacity: .6;
  font-weight: 600;
  line-height: 2;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

footer li i {
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
  color: #ffffff;
  opacity: .6;
}

footer li img {
  height: 1.5rem;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

footer .footerContainer__contact:hover .emojiHand {
  -webkit-animation: Waving .8s forwards;
          animation: Waving .8s forwards;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

footer .Konami {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 10px;
  color: var(--konami);
}

footer .Konami i {
  color: var(--konami);
}

@-webkit-keyframes Waving {
  0% {
    -webkit-transform: rotate(0deg) translateY(5px);
            transform: rotate(0deg) translateY(5px);
  }
  20% {
    -webkit-transform: rotate(-20deg) translateY(5px);
            transform: rotate(-20deg) translateY(5px);
  }
  40% {
    -webkit-transform: rotate(20deg) translateY(5px);
            transform: rotate(20deg) translateY(5px);
  }
  60% {
    -webkit-transform: rotate(-20deg) translateY(5px);
            transform: rotate(-20deg) translateY(5px);
  }
  80% {
    -webkit-transform: rotate(20deg) translateY(5px);
            transform: rotate(20deg) translateY(5px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(5px);
            transform: rotate(0deg) translateY(5px);
  }
}

@keyframes Waving {
  0% {
    -webkit-transform: rotate(0deg) translateY(5px);
            transform: rotate(0deg) translateY(5px);
  }
  20% {
    -webkit-transform: rotate(-20deg) translateY(5px);
            transform: rotate(-20deg) translateY(5px);
  }
  40% {
    -webkit-transform: rotate(20deg) translateY(5px);
            transform: rotate(20deg) translateY(5px);
  }
  60% {
    -webkit-transform: rotate(-20deg) translateY(5px);
            transform: rotate(-20deg) translateY(5px);
  }
  80% {
    -webkit-transform: rotate(20deg) translateY(5px);
            transform: rotate(20deg) translateY(5px);
  }
  100% {
    -webkit-transform: rotate(0deg) translateY(5px);
            transform: rotate(0deg) translateY(5px);
  }
}

.about,
.resume,
.projects {
  width: 100%;
  max-width: 1000px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  overflow: auto;
}

.about h1,
.resume h1,
.projects h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: IntegralCF-DemiBold;
}

.about h1 img,
.resume h1 img,
.projects h1 img {
  height: 1.5em;
  margin-left: 20px;
}

.about__section,
.resume__section,
.projects__section {
  margin: 2em 0 5em 0;
}

@media only screen and (max-width: 600px) {
  .about,
  .resume,
  .projects {
    padding: 0 1em 0 1em;
  }
  .about h1,
  .resume h1,
  .projects h1 {
    font-size: 2.1em;
    line-height: 1.5;
    color: var(--blue);
  }
  .about p {
    font-size: 1.3em;
  }
  .about .marqueeContent h1 {
    font-size: 3em;
  }
  .footerContainer div:nth-child(1) {
    grid-column: span 1fr;
  }
  .home__content h1 {
    font-size: 4em;
  }
  .footerContainer h1 {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 600px) {
  .about,
  .resume,
  .projects {
    padding: 0 2em 0 2em;
  }
  .about h1,
  .resume h1,
  .projects h1 {
    font-size: 2.8em;
    line-height: 1.5;
    color: var(--blue);
  }
  .footerContainer div:nth-child(1) {
    grid-column: span 2;
  }
  .home__content h1 {
    font-size: 6em;
  }
  .footerContainer h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 710px) {
  nav ul li:nth-child(n + 2) {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .about,
  .resume,
  .projects {
    padding: 0 2.2em 0 2.2em;
  }
  .about h1,
  .resume h1,
  .projects h1 {
    font-size: 3em;
    line-height: 1.5;
    color: var(--blue);
  }
  .footerContainer div:nth-child(1) {
    grid-column: span 2;
  }
  .home__content h1 {
    font-size: 8em;
  }
}
/*# sourceMappingURL=index.css.map */